In [1]:
import pymysql
import pandas as pd
import numpy as np
from random import choice
import string

In [2]:
#!/usr/bin/python

hostname = 'localhost'
username = 'root'
password = ''
database = 'busnopaper_db'

import pymysql
myConnection = pymysql.connect(host=hostname, user=username, passwd=password)

In [10]:

def gen_QRcode2(length=16, chars=string.ascii_letters + string.digits):
    return ''.join([choice(chars) for i in range(length)])

In [4]:
cursor = myConnection.cursor()

In [5]:
# Create database
_sql = "CREATE DATABASE busnopaper_db"
cursor.execute(_sql)

ProgrammingError: (1007, "Can't create database 'busnopaper_db'; database exists")

In [6]:
# Choose database
_sql = "USE busnopaper_db"
cursor.execute(_sql)

0

In [6]:
# Delete table
_sql = "DROP TABLE user;"
cursor.execute(_sql)

KeyboardInterrupt:

In [7]:
# Create table
_sql = "CREATE TABLE user (\
        id int unsigned not null primary key auto_increment, \
        username VARCHAR(20) not null , \
        password LONGTEXT not null,\
        qrcode LONGTEXT not null, \
        usertype LONGTEXT not null, \
        money INT unsigned not null, \
        email LONGTEXT,\
        UNIQUE KEY unique_username (username)) \
        "
cursor.execute(_sql)

0

In [15]:
# Insert an example
_sql = "INSERT INTO user( \
                id, \
                username, \
                password,\
                qrcode,\
                usertype,\
                money,\
                email) \
            VALUES({}, \"{}\", \"{}\", \"{}\", \"{}\", {}, \"{}\");".format(
                "null",
                "tinna",
                "1234",
                "tinna{}".format(GenPasswd2()),
                "0",
                40000,
                "tinna@gmail.com")
cursor.execute(_sql)
myConnection.commit()

In [16]:
_sql = "SELECT * FROM busnopaper_db.user LIMIT 0, 1000"
cursor.execute(_sql)

data = cursor.fetchall()
for item in data:
    print(item)

(1, 'congvm', '1234', 'Am5lVIC20uOFeNyk', '0', 40000, 'tinna@gmail.com')
(2, 'tinna', '1234', 'tinnaJjrP7bakKUSIvktU', '0', 40000, 'tinna@gmail.com')

In [13]:
 _sql = "UPDATE user                 \
                    SET qrcode = \"{}\"   \
                WHERE id={};".format(gen_QRcode2(), 1)

print(_sql)

cursor.execute(_sql)
myConnection.commit()

UPDATE user                                    SET qrcode = "Am5lVIC20uOFeNyk"                  WHERE id=1;

In [21]:
 _sql = "SELECT * FROM user          \
                WHERE username={};".format("congvm")
cursor.execute(_sql)
data = cursor.fetchall()
print(len(data))
for item in data:
    print(item)

1
(1, 'congvm', '1234', 'Am5lVIC20uOFeNyk', '0', 40000, 'tinna@gmail.com')

In [22]:
data[0][1]

'congvm'

In [25]:
x =  2 - 1 if (3 > 6) else 3 - 1
print(x)

2

In [28]:
x = "1"
y = x

In [29]:
x = "4"
print(y)

1

In [30]:
import time

In [31]:
t = time.time()

In [32]:
t

1542448487.4472055

In [33]:
time.time() - t

14.773635864257812

ModuleNotFoundError: No module named 'gi'